@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #EBFAFC;
  --dark-background: #090E12;
  --light-background: #293233;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gradient-background {
  background-image: radial-gradient(
      164.75% 100% at 50%, var(--light-background) 0%,
      var(--dark-background) 48.73%
  );
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}